[user]
	name = William Yang
	email = william.yang@shopeemobile.com
[core]
	excludesfile = /Users/yywill/.gitignore_global
	editor = vim
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
p = !"git pull --rebase "
m = !"git merge --ff-only "
s = !"git log -p -S "
c = !"git cherry-pick "
g = !"git grep --untracked --ignore-case --show-function --heading --break --line-number --context 3 "
[rerere]
	enabled = true
	autoupdate = true
[help]
	autocorrect = 1
[github]
	user = yywill@gmail.com
[credential]
	helper = osxkeychain
[url "gitlab@git.garena.com:"]
	insteadOf = https://git.garena.com/
